/* app */

scrolledwindow.frame {
    border: none;
    border-width: 0px;
}

.files-box .icon-label {
    margin-left: 10px;
    min-height: 30px;
    min-width: 30px;
    background: -gtk-icontheme("text-x-generic-symbolic") center no-repeat;
}
.files-box .icon-label.folder {
    background: -gtk-icontheme("folder-symbolic") center no-repeat;
}

.files-box .name-box {
    margin-left: 10px;
    font-size: medium;
}

.select-all-button,
.previous-button {
    padding-right: 12.5px;
    padding-left: 12.5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.select-none-button,
.next-button {
    padding-right: 12.5px;
    padding-left: 12.5px;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.tool-button {
  margin-left: 5px;
}

.confirm-button {
  margin-right: 5px;
}

.placeholder {
    color: @insensitive_fg_color;
}
.placeholder label {
    margin: 10px;
    font-size: 20px;
}

/* about */

.about-box {
    margin: 10px 20px;
}
.about-box .name-label {
    margin-top: 10px;
    font-size: medium;
    font-weight: bold;
}
.about-box .version-label {
    margin-top: 10px;
    font-size: medium;
}
.about-box .description-label {
    margin-top: 15px;
    font-size: medium;
}
.about-box .website-label {
    margin-top: 10px;
    font-size: medium;
}
.about-box .author-label {
    margin-top: 10px;
    font-size: small;
}
.about-box .license-label {
    margin-top: 10px;
    font-size: small;
}

/* menu */

.menu-box {
    margin: 10px 5px 2.5px 5px;
}
.menu-box .menu-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.menu-box .menu-item {
    padding: 5px 10px;
}
.menu-box .places-box .menu-item label {
    padding-left: 25px;
    background: -gtk-icontheme("user-home-symbolic") left no-repeat;
    background-size: 16px;
}
.menu-box .places-box .menu-item.mount label {
    padding-left: 25px;
    background: -gtk-icontheme("drive-removable-media-symbolic") left no-repeat;
    background-size: 16px;
}

/* rows magic */

.preselected {
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color;
}

/* loading */

.loading-bar {
    margin: 10px 10px;
}
.loading-bar trough,
.loading-bar trough progress {
    min-height: 5px;
}
.loading-bar trough progress {
    border-color: @insensitive_fg_color;
    background-color: @insensitive_fg_color;
}
.loading-label {
    color: @insensitive_fg_color;
    margin: 10px;
    font-size: x-large;
}
.loading-description {
    color: @insensitive_fg_color;
    margin: 10px;
    font-size: small;
    font-weight: bold;
}
